/* Variables */
:root {
    --primary: #03A9F4;
    --primary-light: #29B6F6;
    --primary-dark: #039BE5;
    --error-color: #F44336;
    --success-color: #4CAF50;
    --text: #212121;
}

/* RESET */
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    overflow-x: hidden;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer'
    ;
    grid-template-rows: 7rem auto 4rem;

}

/* HEADER */
header {
    grid-area: header;
    width: 100%;
    background-color: var(--primary);
    height: 4rem;
    display: flex;
    align-items: center;
    font-size: .7rem;
    padding: .5rem .9rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}

/* MAIN */
main {
    grid-area: main;
    padding: .4rem 1.4rem;
}

.form {
    margin-top: .5rem;
    padding: .4rem .2rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin: .6rem 0rem;
}
.input-box input{
    margin: .4rem .5rem;
    width: 19rem;
    padding: .4rem .6rem;
    border: none;
    border-bottom: 1px solid var(--primary-dark);
}
button{
    cursor: pointer;
    padding: .5rem .9rem;
    border: none;
    background: transparent;
    border: 1px dashed var(--primary-light);
    transition: all .5s;
}
button:hover{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
main .text {
    padding-bottom: .5rem;
    display: inline-block;
    letter-spacing: 2px;
    border-bottom:1px solid var(--text);
}
main .singup{
    margin-bottom: 2rem;
}
/* MEMBER */
.member {
    margin: .9rem auto;
    width: 99%;
    padding-bottom: .9rem;
    border-bottom: 1px solid #323232;
    
}
.member ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.member ul li {
    font-size:.95rem;
    width: 100%;
    margin: 0 .8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}
/* FOOTER */
footer {
    grid-area: footer;
    align-self: flex-end;
    width: 100%;
    background-color: var(--text);
    text-align: center;
    padding: 1rem 1.7rem;
    color: #fff;
}

footer span {
    color: var(--error-color);
}

footer a {
    text-decoration: none;
    color: var(--dark);
    padding-bottom: .2rem;
    transition: all .5s ease;
}

footer a:hover {
    border-bottom: 1px solid #fefef1;
}


/* OTHER */
.line{
    margin-top: 1.5rem;
    width: 15rem;
    height: 1px;
    background-color: var(--primary-dark);
}